<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Tempo | Zendesk time tracking</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- load styles -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='lib/semantic.min.css')}}">
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='layout.css')}}">
    <!-- load javascript -->
    <script src="{{ url_for('static',filename='lib/jquery.min.js')}}"></script>
    <script src="{{ url_for('static',filename='lib/semantic.min.js')}}"></script>
    <script type="text/javascript">var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
</head>
{% block body %}{% endblock %}