{% extends "header.html" %}
{% block body %}
<body>
<div class="ui middle aligned center aligned grid">
    <div class="column">

            <h1 class="ui black header">{{email}}</h1>
            <canvas id="chart" width="400" height="400"></canvas>

    </div>
</div>
<script>
function toTimeString(seconds) {
  return (new Date(seconds * 1000)).toUTCString().match(/(\d\d:\d\d:\d\d)/)[0];
}
   var pieData = [
                {
                    value: {{ts}},
                    label: toTimeString({{ts}})+" logged",
                    color : "#00786E"
                },
                {
                    value: 28800-{{ts}},
                    label: toTimeString(28800-{{ts}})+" remaining",
                    color : "#D14747"
                }
         ];

   // Get the context of the canvas element we want to select
   var ctx = document.getElementById("chart").getContext("2d");

   // draw pie chart
   new Chart(ctx).Pie(pieData, {
        tooltipTemplate: " <%= label %> ",
        segmentStrokeColor : "#000",
   });

</script>
</body>
</html>
{% endblock %}